In [2]:
import pandas as pd
import numpy as np
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import time
from urllib.parse import urlparse
import requests

In [8]:
# erkek 

num_pages = 434
data = list()

driver = webdriver.Chrome()
driver.get('https://www.nisanyanadlar.com/tum-adlar?t=erkek')
time.sleep(2)

page_input = driver.find_element(
    By.XPATH,
    "//input[@type='text' and @inputmode='numeric']"
)
current_page = int(page_input.get_attribute("value"))

while current_page <= num_pages:
    table = driver.find_element(By.ID, "all-names-table-male")
    rows = table.find_elements(By.CSS_SELECTOR, "div[id^='all-names-table']")

    for row in rows: 
        name = row.find_element(By.XPATH, ".//a").text.strip()
        value = row.find_element(By.XPATH, ".//div[contains(@class,'text-end')]").text.replace(".", "").strip()

        data.append({
            "name": name,
            "value": int(value)
        })
    
    next_btn = driver.find_element(
        By.XPATH,
        "//button[@type='button' and contains(@class,'justify-self-end')]"
    )

    if current_page == num_pages and current_page > 1:
        break
    
    next_btn.click()
    time.sleep(1)

    current_page += 1

In [10]:
len(data)

43307

In [12]:
df_erkek = pd.DataFrame(data).rename(columns={"value":"erkek-sayi"})

In [14]:
df_erkek.head()

      name  erkek-sayi
0   Mehmet     3509883
1      Ali     2535164
2  Mustafa     2125976
3    Ahmet     1973179
4  Hüseyin     1294034

In [16]:
driver.close()

In [18]:
# kadın 

num_pages = 611
data = list()

driver = webdriver.Chrome()
driver.get('https://www.nisanyanadlar.com/tum-adlar?t=kadin')
time.sleep(2)

page_input = driver.find_element(
    By.XPATH,
    "//input[@type='text' and @inputmode='numeric']"
)
current_page = int(page_input.get_attribute("value"))

while current_page <= num_pages:
    table = driver.find_element(By.ID, "all-names-table-female")
    rows = table.find_elements(By.CSS_SELECTOR, "div[id^='all-names-table']")

    for row in rows: 
        name = row.find_element(By.XPATH, ".//a").text.strip()
        value = row.find_element(By.XPATH, ".//div[contains(@class,'text-end')]").text.replace(".", "").strip()

        data.append({
            "name": name,
            "value": int(value)
        })
    
    next_btn = driver.find_element(
        By.XPATH,
        "//button[@type='button' and contains(@class,'justify-self-end')]"
    )

    if current_page == num_pages and current_page > 1:
        break
    
    next_btn.click()
    time.sleep(1)

    current_page += 1

In [20]:
len(data)

61037

In [26]:
df_kadin = pd.DataFrame(data).rename(columns={"value":"kadin-sayi"})

In [28]:
df_kadin.head()

     name  kadin-sayi
0   Fatma     2249779
1    Ayşe     1785785
2   Emine     1355073
3  Hatice     1240884
4  Zeynep     1206308

In [30]:
driver.close()

In [36]:
df_merged = df_erkek.merge(df_kadin, how="outer").fillna(0)

In [38]:
df_merged["toplam"] = df_merged["erkek-sayi"] + df_merged["kadin-sayi"]
df_merged["erkek-pct"] = df_merged["erkek-sayi"] / df_merged["toplam"] *100
df_merged["kadin-pct"] = df_merged["kadin-sayi"] / df_merged["toplam"] *100

In [52]:
df_merged.to_excel("names.xlsx")